::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius   : 20px;
    border          : 1px solid transparent;
    background-clip : content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0a0a05b9;
}





.icons--active {
    animation-name    : bounce;
    animation-duration: 0.02s;
}

.dev-icon {
    margin                   : 10px;
    width                    : 60px;
    height                   : 60px;
    transition               : 400ms;
    animation-name           : bounce-continuous;
    animation-timing-function: ease;
    animation-duration       : 2s;
    animation-iteration-count: infinite;
}


@keyframes bounce-continuous {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 700px) {
    .dev-icon {
        width : 50px;
        height: 50px;
    }

    * {
        font-size: x-small;
    }

    .markdown {
        font-size: xx-small;
    }
}

.markdown {
    margin-top        : 15px;
    margin-bottom     : 10px;
    font-size         : small;
    outline           : none;
    box-shadow        : 0px 14px 26px -18px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 14px 26px -18px rgba(0, 0, 0, 0.75);
}